@model TASKS_6_MVC_.Models.Department

@{
    ViewData["Title"] = "Delete Department";
}

<head>
    <link href="~/css/Delete.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="delete-container">
        <h1>Delete Department</h1>

        <h4>Are you sure you want to delete this department?</h4>
        <hr />

        <div>
            <h4>@Model.Name</h4>
        </div>

    <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="DepartmentId" />
    <button type="submit">Delete</button>
    </form>

    <a href="@Url.Action("Index")">Cancel</a>
    </div>
</body>
